<div class="container__menu-bar">

  <img
    src="https://media.licdn.com/dms/image/v2/D5635AQENsnqJw7yXVQ/profile-framedphoto-shrink_400_400/B56ZYHpqZwGsAc-/0/1743885084559?e=1744491600&v=beta&t=3ta-nGkHekIuopERoq8cQBuv4Yx9ZDMPlOeWqYPFujk"
    alt="Logo" class="img__menu-bar">


  <ul>
    <li><a href="https://www.linkedin.com/in/jorge-von-doellinger/">Linkedin</a></li>
    <li><a href="https://github.com/jorge-armando-von-doellinger">GitHub</a></li>
    <li><a href="jorgearmandovdj@gmail.com">Email</a></li>
  </ul>

</div>
